[submodule "MIP_results_comparison"]
	path = MIP_results_comparison
	url = https://github.com/melek2/MIP_results_comparison.git
	shallow = true
	branch = melek/updates
[submodule "PowerGenome"]
	path = PowerGenome
	url = https://github.com/melek2/PowerGenome.git
	shallow = true
	branch = melek/updates
